/* CUSTOM-PROPS */
:root {
  --primary-color: #6e86fd;
	--opacity-color: #d2d9ff;
	--pink-color: #DC3C96FF;
}


/* BACKGROUND COLORS */
.pink-color {
	background-color: #DC3C96FF;
}

.green-color {
	background-color: green;
}

.red-color {
	background-color: red;
}

.yellow-color {
	background-color: yellow;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
	align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-color {
	background-color: #fff;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */
.site-header {
	width: 100%;
	padding: 14px;
	margin-bottom: 30px;
	background-image: url('../img/tiles-hop-img.jpg');
	background-repeat: no-repeat;
	background-size: auto 270px;
	background-position: center;
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.06);
}

.site-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header-left {
	display: flex;
	align-items: center;
}

.logo-img {
	margin-right: 20px;
}

.logo-text {
	margin: 0;
	padding: 0;
	font-size: 14px;
}


/* DROP-AREA */
#drop-area {
	width: 470px;
	height: 150px;
	padding: 4px;
	border-radius: 20px;
	border: 2px dashed var(--primary-color);
	color: #001787;
	display: flex;
	justify-content: center;
	align-items: end;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	background-image: url('../img/Drag-And-Drop.png');
	background-repeat: no-repeat;
	background-size: auto 100px;
	background-position: center;
}

#drop-area.highlight {
	border-color: #333;
}


/* CONTAINER */
.container-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-container {
	width: 40%;
	display: flex;
}


/* BOX */
.box-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box-container:nth-child(1) {
	background-image: url('../img/pink.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

.box-container:nth-child(2) {
	background-image: url('../img/green.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

.box-container:nth-child(3) {
	background-image: url('../img/red.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

.box-container:nth-child(4) {
	background-image: url('../img/yellow.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top;
}

.display-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	color: var(--primary-color);
}

.box {
	width: 140px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	color: var(--primary-color);
	cursor: pointer;
	transition: transform 0.2s;
}

.box:hover {
	opacity: 0.8;
}

.buttons-container {
	width: 140px;
	height: 250px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	margin-left: 20px;
	overflow-y: auto;
}

.buttons-container::-webkit-scrollbar {
	display: none;
}

.button {
	width: 90%;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.button:hover {
	background-color: var(--opacity-color);
	color: #fff;
	transform: scale(1.06);
}

.button:active,
.button.active {
	background-color: var(--primary-color);
	color: white;
}


/* MODAL */
.modal {
	display: none;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: rgb(98, 218, 98);
	color: white;
	text-align: center;
	font-size: 18px;
	opacity: 0.8;
}

.capcut-tool-list {
	margin: 0;
	padding: 4px;
	list-style: none;
	width: 40%;
	height: 250px;
	background-color: #303030FF;
	border: 1px solid #000;
}

.capcut-tool-item {
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(143, 143, 143);
}

.rotate-input {
	padding: 4px;
	outline: none;
	border: none;
}

.rotate-input::-webkit-outer-spin-button,
.rotate-input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

#multiplierSelect {
	padding: 4px;
	border: none;
	outline: none;
}

#result {
	min-width: 50px;
	padding: 4px;
	cursor: pointer;
}

#result:hover {
	opacity: 0.8;
}