/* CUSTOM-PROPS */
:root {
  --primary-color: #6e86fd;
	--opacity-color: #d2d9ff;
	--pink-color: #DC3C96FF;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
	align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-color {
	background-color: #fff;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER */
.site-header {
	width: 100%;
	padding: 14px;
	margin-bottom: 30px;
	background-image: url('../img/tiles-hop-img.jpg');
	background-repeat: no-repeat;
	background-size: auto 270px;
	background-position: center;
	background-color: #fff;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.06);
}

.site-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header-left {
	display: flex;
	align-items: center;
}

.logo-img {
	margin-right: 20px;
}

.logo-text {
	margin: 0;
	padding: 0;
	font-size: 14px;
}


/* DATE  */
#dateDisplay {
	background-color: white;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	font-size: 1rem;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s ease;
}

#dateDisplay:hover {
	background-color: #e0e0e0;
}

#currentDate {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-top: 10px;
}


/* DROP-AREA */
.drop-area-container {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

#drop-area {
	width: 470px;
	height: 150px;
	margin-right: 20px;
	padding: 4px;
	border-radius: 10px;
	border: 2px dashed var(--primary-color);
	color: #001787;
	display: flex;
	justify-content: center;
	align-items: end;
	margin-bottom: 20px;
	text-align: center;
	cursor: pointer;
	background-image: url('../img/Drag-And-Drop.png');
	background-repeat: no-repeat;
	background-size: auto 100px;
	background-position: center;
}

#drop-area.highlight {
	border-color: #333;
}

.site-links {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.site-link {
	display: flex;
	text-decoration: none;
	color: var(--primary-color);
}

.site-link:hover {
	opacity: 0.6;
}

.site-link:not(:last-child) {
	margin-bottom: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
	color: inherit;
	margin-right: 5px;
}

.like {
	color: red;
}


/* CONTAINER */
.container-wrapper {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main-container {
	width: 40%;
	display: flex;
}


/* BOX */
.box-container {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.display-box {
	position: relative;
	display: inline-block;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	display: flex;
	border: 1px solid var(--primary-color);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	color: var(--primary-color);
	z-index: 20;
}

.display-box::after {
	content: "Teg"; /* Chiqqan yozuv */
	position: absolute;
	top: -30px; /* Element ustida chiqishi uchun */
	left: 50%;
	transform: translateX(-50%); /* O‘rtaga joylash */
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none; /* Matn bosilganda xalaqit bermasligi uchun */
}

.display-box:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.display-box:hover::after {
	background-color: var(--primary-color);
	color: #fff;
	opacity: 1; /* Hover bo‘lganda yozuv chiqadi */
}

.display-box:active {
	opacity: 0.6;
}

.box {
	width: 99%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
	border-radius: 4px;
	color: var(--primary-color);
	cursor: pointer;
	transition: transform 0.2s;
	background-color: #fff;
	box-shadow: 1px 0px 1px 1px rgba(0,0,0,.06);
}

.box:hover {
	background-color: var(--opacity-color);
	opacity: 0.8;
}

.buttons-container {
	width: 140px;
	height: 250px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	margin-left: 20px;
	overflow-y: auto;
}

.buttons-container::-webkit-scrollbar {
	display: none;
}

.button {
	width: 90%;
	padding: 10px 20px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.button:hover {
	background-color: var(--opacity-color);
	color: #fff;
	transform: scale(1.06);
}

.button:active,
.button.active {
	background-color: var(--primary-color);
	color: white;
}


/* MODAL */
.modal {
	display: none;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: rgb(98, 218, 98);
	color: white;
	text-align: center;
	font-size: 18px;
	opacity: 0.8;
}

.capcut-tool-list {
	margin: 0;
	padding: 4px;
	list-style: none;
	width: 40%;
	height: 250px;
	background-color: #303030FF;
	border: 1px solid #000;
}

.capcut-tool-item {
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(143, 143, 143);
}

.rotate-input {
	padding: 4px;
	outline: none;
	border: none;
}

.rotate-input::-webkit-outer-spin-button,
.rotate-input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}

#multiplierSelect {
	padding: 4px;
	border: none;
	outline: none;
}

#result {
	min-width: 50px;
	padding: 4px;
	cursor: pointer;
}

#result:hover {
	opacity: 0.8;
}


/* EXTRA DATA WRAPPER  */
.extraDataContainer-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.copy-text {
	padding: 4px;
	border: 1px solid #6e86fd;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	cursor: pointer;
	border-right: none;
}

#extraDataContainer {
	padding: 4px;
	border: 1px solid #6e86fd;
	cursor: pointer;
	border-top-right-radius: 12px;
	border-left: none;
	border-bottom-right-radius: 12px;
}


/* LOADING  */
.progress-container {
  position: absolute;
	top: 60px;
  left: 0;
  width: 470px;
  width: 100%;
  height: 10px;
  /* border-radius: 7px; */
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0, 0.3 );
  background-color: #DDDDDD;
	
  /* border-radius: 15px; */
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(225,255,255,0.5) 25%,
     transparent 25%, transparent 50%,
     rgba(225,255,255,0.5) 50%,
     rgba(225,255,255,0.5) 75%,
     transparent 75%,
     transparent
    );
	
}

/* Progress bar harakatlanadigan joy */
.progress-bar {
	width: 0%;
	height: 100%;
	background-color: #a5df41;
	transition: width 0.3s ease-in-out;
	background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgba(225,255,255,0.5) 25%,
     transparent 25%, transparent 50%,
     rgba(225,255,255,0.5) 50%,
     rgba(225,255,255,0.5) 75%,
     transparent 75%,
     transparent
    );
}

@keyframes animate-stripes {
  0% {background-position: 0 0;}
  100% {background-position: 60px 0;}
}

.progress-container.animated {
	animation: animate-stripes 2s linear forwards;
}

.hidden {
	display: none;
}
